.site-footer{
	display: block;
  	text-align: center;
}

.footer-contact{
	color: #FFFFFF;
	font-size: 20px;
	font-family:'Droid Sans Mono',monospace;
}

body{
      background-color: #377275
}

#nav-logo{
	border-radius: 10px;
}

#insta-logo{
	width: 30px;
	height: 30px
}