{% extends 'index.html' %}
{% block title %}Panik Ztation{% endblock %}
{% block style%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='imgs/icon.png') }}" width="50" height="50" class="d-inline-block align-top" alt=""></a>
	<ul class="nav navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="">Historia</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="">Contactenos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="">Ordenar!</a>
		</li>
	</ul>
</nav>
{% endblock %}
